<div class="card-container">
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Elegí el título</ng-template>
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input
            matInput
            placeholder="Elegí algo original"
            formControlName="gameTitle"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel
          >Definí cuanto pesa (o agregalo después)</ng-template
        >
        <mat-form-field>
          <mat-label>Kgs con 1 decimal</mat-label>
          <input matInput formControlName="target" placeholder="Ej: 15.5" />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Listo!</ng-template>
      <div class="alert alert-danger" role="alert">
        Guardá el link privado para terminar el juego <br />
        <a href="/details/123"> "LINK privado"</a>
      </div>
      <div class="alert alert-primary" role="alert">
        Compartí el público con tus amigos!<br />
        <a href="/play/123">"LINK publico"</a>
      </div>
    </mat-step>
  </mat-stepper>
</div>
